/* 컨텐츠 내 공통 여백 - 갖다 쓰기 */
.mt100 {
    margin-top: 100px;
}
.mb100 {
    margin-bottom: 100px;
}
.mt150 {
    margin-top: 150px;
}
.mb150 {
    margin-bottom: 150px;
}
.pt100 {
    padding-top: 100px;
}
.pb100 {
    padding-bottom: 100px;
}
.pt150 {
    padding-top: 150px;
}
.pb150 {
    padding-bottom: 150px;
}

/* 서브 비주얼 공통 */
#subVisual {
    padding: 160px 0px 80px 0px;
}
#subVisual.type-img span a {
    color: #fff;
}
#subVisual.type-img {
    background: #000;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    color: #fff;
    margin-bottom: 150px;
}

#subVisual .title {
    padding-top: 100px;
    padding-bottom: 100px;
}
#subVisual .title h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 20px 0;
    opacity: 0;
    animation: BottomTOTop 1.5s forwards;
}
#subVisual .title p {
    font-size: 24px;
    margin: 20px 0;
    opacity: 0;
    animation: BottomTOTop 1.5s forwards;
    animation-delay: 0.2s;
}
#subVisual span {
    float: right;
    z-index: 1000;
}
#subVisual span a {
    font-size: 16px;
    transition: 0.2s;
}
#subVisual span i {
    font-size: 20px;
    vertical-align: middle;
}
#subVisual span a:hover {
    font-weight: 700;
    color: var(--primary-color);
}
